html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/background.png');
    background-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Garamond', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

#card-grid {
    width: 450px;
    height: 450px;
    background: linear-gradient(160deg, #cc374f 0%, #832750 100%);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(42, 32, 45, 0.7);
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    cursor: pointer;
    box-shadow: 5px 2px 15px 0 rgba(66, 50, 68, 0.7);
    transition: transform 1s;
    transform-style: preserve-3d; /*Вращение происходит в 3D.*/
}

.card-wrapper {
    perspective: 1000px;
    margin: 10px;
    /* Вычисляем высоту и длину карточек. (25 + 25) px для card-grid.padding 
    и (10 + 10 + 10) для margins, делим на 4 карточки.*/
    width: calc((100% - 80px) / 4);
    height: calc((100% - 80px) / 4);
    border-radius: 10px;
}

.card,
.front, .back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.front, .back {
    position: absolute; /*Слои накладываются друг на друга.*/
    color: white;
    background-size: contain;
    background-color: rgb(62, 23, 66);
}

.front {
    backface-visibility: hidden; /*Скрываем обратную поверхность.*/
    font-size: 60px; /*Изменяем стиль шрифта на случай, если картинка
    не отобразится и будет отображён альтернативный текст*/
    text-align: center;
}

.flip {
    transform: rotateY(-180deg);
}