html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/background.png');
    background-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Garamond', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

#card-grid {
    width: 450px;
    height: 450px;
    background: linear-gradient(160deg, #cc374f 0%, #832750 100%);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(42, 32, 45, 0.7);
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
  perspective: 1000px;
  background-color: gray;
  margin: 10px;
  /* Вычисляем высоту и длину карточек. (25 + 25) px для card-grid.padding 
  и (10 + 10 + 10) для margins, делим на 4 карточки.*/
  width: calc((100% - 80px) / 4);
  height: calc((100% - 80px) / 4);
  border-radius: 10px;
}

.card,
.front {
    width: 100%;
  	height: 100%;
  	border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.front {
  position: absolute;
  color: white;
  backface-visibility: hidden;
}

.front {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    font-size: 60px;
    text-align: center;
}
